body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    background: #34495e;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: white;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.ingredients-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background: #393c55;
    border-radius: 5px;
}

.ingredient-item {
    display: flex;
    align-items: center;
    background: #34495e;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

    .ingredient-item input {
        margin-right: 8px;
    }

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

    button:hover {
        background: #218838;
    }

.alert {
    background: #dc3545;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}
