body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.order-details {
    max-width: 800px;
    margin: 40px auto;
    background: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
    color: white;
}

.order-info p {
    font-size: 16px;
    margin: 5px 0;
}

.status {
    font-weight: bold;
    color: #ff9800;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1b6ec2;
    color: white;
}

.total-price {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-complete {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    .btn-complete:hover {
        background-color: #218838;
    }

.btn-back {
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

    .btn-back:hover {
        background-color: #5a6268;
    }
