@page
@model Restaurant.Pages.Account.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Account/login.css" asp-append-version="true" />
</head>

@if (Model.TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @Model.TempData["Error"]
    </div>
}

<div class="auth-container">
    <div class="auth-box">
        <h2>Create an Account</h2>
        <form method="post">
            <div class="input-group">
                <input asp-for="Name" class="input-field" placeholder="Username" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input asp-for="City" class="input-field" placeholder="City" required />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input asp-for="Address" class="input-field" placeholder="Address" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input asp-for="Email" type="email" class="input-field" placeholder="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input asp-for="Password" type="password" class="input-field" placeholder="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="input-group">
                <input asp-for="RepeatPassword" type="password" class="input-field" placeholder="Repeat Password" required />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-submit">Sign Up</button>

            <p class="switch-text">
                Already have an account? <a asp-page="Log_in">Log in</a>
            </p>
        </form>
    </div>
</div>